body
{
    background-color: #161717; 
	background-image:url(C:/Users/cooorentin/Desktop/suit-up-drivy/public/img/background9.jpg);
}

.centrage {margin-left:125px;}

input:focus {
  background: #eaeaea;
}

.mdl-grid {
	margin-left: 400px;
	margin-top: 15px;
}
.mdl-card__media {
    margin: 0;
}
.mdl-card__media > img {
    max-width: 100%;
}
.mdl-card__actions {
    display: flex;
    box-sizing:border-box;
    align-items: center;
}
.mdl-card__actions > .mdl-button--icon {
    margin-right: 3px;
    margin-left: 3px;
}